@import "transition-style";



body {
  margin: 0  !important; 
  padding: 0  !important;

  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.row{
  margin-right: 0 !important;
  margin-left:0 !important;
  margin-bottom: 0 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  
}


  .fondo{
    
    background-color: #2a4d57;
    padding-top: 10px;
    
  }

  @keyframes square-out-bottom-right {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(100% 0 0 100%);
    }
  }
  
  [transition-style="out:square:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-out-bottom-right both;
  }

